Checks: >
  -*,
  performance-*,
  concurrency-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-stringview-data-usage,
  google-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  readability-*,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  clang-analyzer-core*,
  clang-analyzer-cplusplus*,
WarningsAsErrors: '*'
FormatStyle: 'file'
User: 'user'